
.navbar{
    position: sticky;
    top: 0;
    height: 50px;
    background-color: blue;;
    padding: 0 20px;
    z-index: 99;
}
.navbar-icons{
    display: flex;
    justify-content: space-between;
    
}
.navbar-menu{
    display: flex;
    align-items: center;
   color: #fff;
}